@font-face{
  font-family: 'RobotoMono';
  scr: url('./fonts/Roboto-Thin.ttf');
}
*{
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: azure;
  background: linear-gradient(to right, rgb(100, 160, 250), rgb(37, 37, 37));
}